.landing-page {
	a {
		transition: 0.25s all linear;
		&:hover {
			opacity: 0.5;
		}
	}
}

.edit-profile {
	.edit-profile-field {
		padding-top: 20px !important;
	}
}


.unregistered-user-header {
	margin-bottom: 20px;
}

.login {
	.user-login {
		@extend .unregistered-user-header;
	}
}

.signup {
	.create-new-user {
		@extend .unregistered-user-header;
	}
}

.profile {
	margin-top: 20px;
}

.chat-box {
	height: 300px;
	width: 80%;
	overflow: scroll;
}

.message-border {
	padding-bottom: 13px;
	border-bottom: 1px solid grey;
}

.home-menu {
	img {
		height: 205px;
	}
}
