.landing-page {
	a {
		transition: 0.25s all linear;
		&:hover {
			opacity: 0.5;
		}
	}
}

html,
body {
	height: 100%;
}

.wrapper {
	height: 100%;
	min-width:100%;
	display:flex;
	align-items:stretch;
	position:relative;
	flex-flow: column;
}

.margin-10 {
	margin: 10px;
}

.margin-left-0 {
	margin-left: 0;
}

.margin-top-10 {
	margin-top: 10px;
}

.padding-10 {
	padding: 10px;
}

.display-block {
	display: block;
}

.height-width-100 {
	height: 100%;
	width: 100%;
}

.group-chat {
	height: 100%;
}

.edit-profile {
	height: 100%;
	.edit-profile-field {
		padding-top: 20px !important;
	}
	.upload-message {
		position: relative;
		bottom: 17px;
	}
}

.unregistered-user-header {
	margin-bottom: 20px;
}

.login {
	background: url('../img/nintendo.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100%;
	overflow-y: hidden;

	.login-form {
		background-color: rgba(0,0,0,0.8)
	}
	.btn-container {
		@extend .margin-left-0;
	}
	.form-holder {
		background-color: rgba(0,0,0,0.7);
	}

	.user-login {
		@extend .unregistered-user-header;
	}
}

.signup {
	background: url('../img/nintendo.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100%;
	overflow-y: hidden;
	.create-new-user {
		@extend .unregistered-user-header;
	}
	.signup-form {
		background-color: rgba(0,0,0,0.8);
	}
	.btn-container {
		@extend .margin-left-0;
	}
}

.profile {
	height: 100%;
	.profile-picture-container {
		text-align: center;
	}
	.profile-info-box {
		margin-top: 20px;
	}
	.profile-picture {
		max-height: 280px;
		max-width: 280px;
	}
}

.chat-box {
	height: 300px;
	width: 80%;
	overflow: scroll;
}

.message-border {
	padding-bottom: 13px;
	border-bottom: 1px solid grey;
}

.home-menu {
	height: 100%;
	img {
		height: 205px;
	}
	.user-name {
		cursor: pointer;
	}
}
