.landing-page a {
  transition: 0.25s all linear;
}
.landing-page a:hover {
  opacity: 0.5;
}

.unregistered-user-header, .login .user-login, .signup .create-new-user {
  margin-bottom: 20px;
}

.profile {
  margin-top: 20px;
}

.chat-box {
  height: 300px;
  width: 80%;
  overflow: scroll;
}

.message-border {
  padding-bottom: 13px;
  border-bottom: 1px solid grey;
}

.home-menu img {
  height: 205px;
}
