<div class="home-menu grey darken-4">
	<div class="container">
		<h1><span class="grey-text text-lighten-5">Logged in as:</span> <a ui-sref="profile" class="cyan-text user-name">{{$ctrl.userName}}</a></h1>
		<div class="row">
			<div class="col s3">
				<div class="card hoverable">
		      <div class="card-image">
		      	<a ng-href="#/chat/counter-strike:global-offensive"><img class="responsive-img" src="public/img/csgo.jpg"></a>
		      </div>
		      <div class="card-content">
		        <p>Counter-Strike: Global Offensive</p>
		      </div>
				</div>
			</div>
		    <div class="col s3">
					<div class="card hoverable">
		        <div class="card-image">
		        	<a ng-href="#/chat/dota2"><img class="responsive-img" src="public/img/dota2.png"></a>
		        </div>
		        <div class="card-content">
		          <p>Dota 2</p>
		        </div>
					</div>
		    </div>
		    <div class="col s3">
					<div class="card hoverable">
		        <div class="card-image">
		        	<a ng-href="#/chat/leagueoflegends"><img class="responsive-img" src="public/img/lol.jpeg"></a>
		        </div>
		        <div class="card-content">
		          <p>League of Legends</p>
		        </div>
					</div>
		    </div>
		     <div class="col s3">
					 <div class="card hoverable">
		         <div class="card-image">
		         	<a ng-href="#/chat/overwatch"><img class="responsive-img" src="public/img/overwatch.jpg"></a>
		         </div>
		         <div class="card-content">
		           <p>Overwatch</p>
		         </div>
		 			</div>
				 </div>
		</div>
	</div>
</div>
