<h1>Logged in</h1>
<div class="row">
	<div class="col s3">
      	<a href="#/counter-strike:global-offensive"><img class="responsive-img" src="public/img/csgo.jpg"></a>
      	<p>Counter-Strike: Global Offensive</p>
	</div>
    <div class="col s3">
  		<a href="#/dota2"><img class="responsive-img" src="public/img/dota2.png"></a>
        <p>Dota 2</p>
    </div>
    <div class="col s3">
  		<a href="#/league-of-legends"><img class="responsive-img" src="public/img/lol.jpeg"></a>
  		<p>League of Legends</p>
      </div>
     <div class="col s3">
  		<a href="#/overwatch"><img class="responsive-img" src="public/img/overwatch.jpg"></a>
  		<p>Overwatch</p>
	</div>
</div>