<h1>Logged in as: <a ui-sref="profile">{{$ctrl.userName}}</a></h1>
<div class="row home-menu">
	<div class="col s3">
      	<a ng-href="#/chat/counter-strike:global-offensive"><img class="responsive-img" src="public/img/csgo.jpg"></a>
      	<p>Counter-Strike: Global Offensive</p>
	</div>
    <div class="col s3">
  		<a ng-href="#/chat/dota2"><img class="responsive-img" src="public/img/dota2.png"></a>
        <p>Dota 2</p>
    </div>

    <div class="col s3">
  		<a ng-href="#/chat/leagueoflegends"><img class="responsive-img" src="public/img/lol.jpeg"></a>
  		<p>League of Legends</p>
      </div>
     <div class="col s3">
  		<a ng-href="#/chat/overwatch"><img class="responsive-img" src="public/img/overwatch.jpg"></a>
  		<p>Overwatch</p>
	</div>
</div>
