<div class="profile grey darken-4">
  <div class="profile-info-box">
  <div ng-if="$ctrl.imageUrl">
    <div class="row profile-picture-container">
        <img class="responsive-img profile-picture" ng-src="{{$ctrl.imageUrl}}" rel="image" />
  </div>
  </div>
  <div class="row">
    <div class="col s3 offset-s3">
      <a class="btn waves-effect waves-light btn-large" type="submit" name="action"
        ui-sref="edit">Edit Profile</a>
      </div>
      <div class="col s3">
        <button class="btn waves-effect waves-light btn-large red darken-1" type="submit" name="action"
        ng-click="$ctrl.deleteProfile()">Delete Profile
              <i class="material-icons right">send</i>
        </button>
      </div>
  </div>
</div>
</div>
</div>
